nav{

	background-color: #ccc;
	border-radius: 10px;
	border: 1px solid;
	width: 98%;

}

nav ul{
 list-style: none;

}

nav ul li{
float: right;
margin-right:5px;

}

nav ul li :hover{
background-color: red;

}